In [1]:
import pandas as pd
import numpy as np
import dash
from dash import dcc, html
from dash.dependencies import Input, Output
import plotly.express as px
import matplotlib.pyplot as plt

In [2]:
# Read products.csv and customers_countries.csv
ds1_df = pd.read_csv('ds1.csv')
ds2_df = pd.read_csv('ds2.csv')

In [3]:
ds1_df.head()

,identifierHash,type,country,language,socialNbFollowers,socialNbFollows,socialProductsLiked,productsListed,productsSold,productsPassRate,...,civilityTitle,hasAnyApp,hasAndroidApp,hasIosApp,hasProfilePicture,daysSinceLastLogin,seniority,seniorityAsMonths,seniorityAsYears,countryCode
0,-7279641312655250028,user,Etats-Unis,en,3,8,0,0,0,0.0,...,mrs,False,False,False,True,709,3205,106.83,8.9,us
1,-1456013578740053406,user,Allemagne,de,3,8,0,0,0,0.0,...,mrs,False,False,False,True,709,3205,106.83,8.9,de
2,9006282053848196165,user,Suède,en,3,8,0,0,0,0.0,...,mr,True,False,True,True,689,3205,106.83,8.9,se
3,-7154634866120535654,user,Turquie,en,3,8,0,0,0,0.0,...,mrs,False,False,False,True,709,3205,106.83,8.9,tr
4,2858299215060733023,user,France,en,3,8,0,0,0,0.0,...,mr,True,False,True,True,709,3205,106.83,8.9,fr

In [4]:
ds2_df.head()

,country,buyers,topbuyers,topbuyerratio,femalebuyers,malebuyers,topfemalebuyers,topmalebuyers,femalebuyersratio,topfemalebuyersratio,...,meanproductsliked,topmeanproductsbought,topmeanproductswished,topmeanproductsliked,meanofflinedays,topmeanofflinedays,meanfollowers,meanfollowing,topmeanfollowers,topmeanfollowing
0,France,1251,53,4.2,851,400,33,20,68.0,62.3,...,20.2,28.1,77.2,120.9,321.8,75.0,4.8,8.8,10.1,11.0
1,Royaume-Uni,792,38,4.8,560,232,30,8,70.7,78.9,...,29.5,22.4,161.2,193.7,298.3,68.2,5.4,8.8,11.1,12.2
2,Etats-Unis,912,31,3.4,700,212,21,10,76.8,67.7,...,32.8,27.9,119.4,224.1,359.3,73.0,4.9,9.7,11.7,27.9
3,Allemagne,578,29,5.0,409,169,21,8,70.8,72.4,...,41.1,17.8,175.7,367.2,296.6,39.3,5.1,8.6,11.2,11.3
4,Italie,400,21,5.3,283,117,14,7,70.8,66.7,...,35.5,24.7,208.4,103.4,247.9,40.9,6.4,11.6,14.3,15.4

In [5]:
# Rename specific columns
ds1_df = ds1_df.rename(columns={'countryCode': 'country code'})

In [6]:
ds1_df.head()

,identifierHash,type,country,language,socialNbFollowers,socialNbFollows,socialProductsLiked,productsListed,productsSold,productsPassRate,...,civilityTitle,hasAnyApp,hasAndroidApp,hasIosApp,hasProfilePicture,daysSinceLastLogin,seniority,seniorityAsMonths,seniorityAsYears,country code
0,-7279641312655250028,user,Etats-Unis,en,3,8,0,0,0,0.0,...,mrs,False,False,False,True,709,3205,106.83,8.9,us
1,-1456013578740053406,user,Allemagne,de,3,8,0,0,0,0.0,...,mrs,False,False,False,True,709,3205,106.83,8.9,de
2,9006282053848196165,user,Suède,en,3,8,0,0,0,0.0,...,mr,True,False,True,True,689,3205,106.83,8.9,se
3,-7154634866120535654,user,Turquie,en,3,8,0,0,0,0.0,...,mrs,False,False,False,True,709,3205,106.83,8.9,tr
4,2858299215060733023,user,France,en,3,8,0,0,0,0.0,...,mr,True,False,True,True,709,3205,106.83,8.9,fr

In [7]:
ds1_df.dtypes

identifierHash           int64
type                    object
country                 object
language                object
socialNbFollowers        int64
socialNbFollows          int64
socialProductsLiked      int64
productsListed           int64
productsSold             int64
productsPassRate       float64
productsWished           int64
productsBought           int64
gender                  object
civilityGenderId         int64
civilityTitle           object
hasAnyApp                 bool
hasAndroidApp             bool
hasIosApp                 bool
hasProfilePicture         bool
daysSinceLastLogin       int64
seniority                int64
seniorityAsMonths      float64
seniorityAsYears       float64
country code            object
dtype: object

In [8]:
ds2_df.dtypes

country                       object
buyers                         int64
topbuyers                      int64
topbuyerratio                float64
femalebuyers                   int64
malebuyers                     int64
topfemalebuyers                int64
topmalebuyers                  int64
femalebuyersratio            float64
topfemalebuyersratio         float64
boughtperwishlistratio       float64
boughtperlikeratio           float64
topboughtperwishlistratio    float64
topboughtperlikeratio        float64
totalproductsbought            int64
totalproductswished            int64
totalproductsliked             int64
toptotalproductsbought         int64
toptotalproductswished         int64
toptotalproductsliked          int64
meanproductsbought           float64
meanproductswished           float64
meanproductsliked            float64
topmeanproductsbought        float64
topmeanproductswished        float64
topmeanproductsliked         float64
meanofflinedays              float64
topmeanofflinedays           float64
meanfollowers                float64
meanfollowing                float64
topmeanfollowers             float64
topmeanfollowing             float64
dtype: object

In [9]:
ds1_df.isnull().sum()

identifierHash         0
type                   0
country                0
language               0
socialNbFollowers      0
socialNbFollows        0
socialProductsLiked    0
productsListed         0
productsSold           0
productsPassRate       0
productsWished         0
productsBought         0
gender                 0
civilityGenderId       0
civilityTitle          0
hasAnyApp              0
hasAndroidApp          0
hasIosApp              0
hasProfilePicture      0
daysSinceLastLogin     0
seniority              0
seniorityAsMonths      0
seniorityAsYears       0
country code           0
dtype: int64

In [10]:
ds2_df.isnull().sum()

country                       0
buyers                        0
topbuyers                     0
topbuyerratio                 0
femalebuyers                  0
malebuyers                    0
topfemalebuyers               0
topmalebuyers                 0
femalebuyersratio             0
topfemalebuyersratio         29
boughtperwishlistratio        5
boughtperlikeratio            2
topboughtperwishlistratio    30
topboughtperlikeratio        29
totalproductsbought           0
totalproductswished           0
totalproductsliked            0
toptotalproductsbought        0
toptotalproductswished        0
toptotalproductsliked         0
meanproductsbought            0
meanproductswished            0
meanproductsliked             0
topmeanproductsbought        29
topmeanproductswished        29
topmeanproductsliked         29
meanofflinedays               0
topmeanofflinedays           29
meanfollowers                 0
meanfollowing                 0
topmeanfollowers             29
topmeanfollowing             29
dtype: int64

In [11]:
print(ds1_df.duplicated().sum())

0

In [12]:
print(ds2_df.duplicated().sum())

0

In [13]:
# Define columns to check for outliers
column1 = 'socialNbFollowers'  # Column from ds1_df
column2 = 'totalproductsbought'  # Column from ds2_df

# Ensure the columns are numeric
ds1_df[column1] = pd.to_numeric(ds1_df[column1], errors='coerce')
ds2_df[column2] = pd.to_numeric(ds2_df[column2], errors='coerce')

# Compute IQR for ds1_df
Q1_ds1 = ds1_df[column1].quantile(0.25)
Q3_ds1 = ds1_df[column1].quantile(0.75)
IQR_ds1 = Q3_ds1 - Q1_ds1

# Define bounds for ds1_df
lower_bound_ds1 = Q1_ds1 - 1.5 * IQR_ds1
upper_bound_ds1 = Q3_ds1 + 1.5 * IQR_ds1

# Detect outliers in ds1_df
outliers_ds1 = ds1_df[(ds1_df[column1] < lower_bound_ds1) | (ds1_df[column1] > upper_bound_ds1)]

# Compute IQR for ds2_df
Q1_ds2 = ds2_df[column2].quantile(0.25)
Q3_ds2 = ds2_df[column2].quantile(0.75)
IQR_ds2 = Q3_ds2 - Q1_ds2

# Define bounds for ds2_df
lower_bound_ds2 = Q1_ds2 - 1.5 * IQR_ds2
upper_bound_ds2 = Q3_ds2 + 1.5 * IQR_ds2

# Detect outliers in ds2_df
outliers_ds2 = ds2_df[(ds2_df[column2] < lower_bound_ds2) | (ds2_df[column2] > upper_bound_ds2)]

# Print outliers info
print(f"Number of outliers in {column1} (ds1_df): {outliers_ds1.shape[0]}")
print(outliers_ds1)

print(f"Number of outliers in {column2} (ds2_df): {outliers_ds2.shape[0]}")
print(outliers_ds2)

Number of outliers in socialNbFollowers (ds1_df): 13974
            identifierHash  type     country language  socialNbFollowers  \
22     -622074129810321601  user   Allemagne       de                  6
46    -1369438276320193587  user      France       fr                 31
85     -937288556484695351  user       Suède       en                  5
95     7144186809315241123  user      Canada       en                  4
114    4907046938384800140  user  Etats-Unis       en                 28
...                    ...   ...         ...      ...                ...
98853  7579758513345819757  user      Italie       it                  4
98865  -962874353116979690  user   Allemagne       de                  4
98879  5865107640481976661  user    Danemark       en                  5
98883  4686499517041021923  user  Etats-Unis       en                  7
98886  2853467385344466356  user      Italie       it                 13

       socialNbFollows  socialProductsLiked  productsListed  productsSold  \
22                   8                    0               0             0
46                   8                    0               1             1
85                   8                    0               0             0
95                  10                    1               0             0
114                 29                    0               0             0
...                ...                  ...             ...           ...
98853               10                    7               0             0
98865                8                    6               0             0
98879                8                    1               0             0
98883                9                    0               0             0
98886               12                   13               0             0

       productsPassRate  ...  civilityTitle  hasAnyApp hasAndroidApp  \
22                  0.0  ...             mr      False         False
46                  0.0  ...            mrs       True         False
85                  0.0  ...             mr      False         False
95                  0.0  ...            mrs       True          True
114                 0.0  ...             mr       True         False
...                 ...  ...            ...        ...           ...
98853               0.0  ...             mr      False         False
98865               0.0  ...             mr      False         False
98879               0.0  ...            mrs      False         False
98883               0.0  ...            mrs      False         False
98886               0.0  ...            mrs       True         False

       hasIosApp hasProfilePicture  daysSinceLastLogin  seniority  \
22         False              True                 423       3205
46          True             False                 127       3205
85         False              True                 543       3205
95         False              True                 208       3205
114         True             False                  15       3205
...          ...               ...                 ...        ...
98853      False              True                 148       3204
98865      False              True                 247       3204
98879      False              True                 204       3204
98883      False              True                 708       3204
98886       True              True                  24       3204

       seniorityAsMonths  seniorityAsYears  country code
22                106.83               8.9            de
46                106.83               8.9            fr
85                106.83               8.9            se
95                106.83               8.9            ca
114               106.83               8.9            us
...                  ...               ...           ...
98853             106.80               8.9            it
98865             106.80               8.9            de
98879             106.80               8.9            dk
98883             106.80               8.9            us
98886             106.80               8.9            it

[13974 rows x 24 columns]
Number of outliers in totalproductsbought (ds2_df): 11
        country  buyers  topbuyers  topbuyerratio  femalebuyers  malebuyers  \
0        France    1251         53            4.2           851         400
1   Royaume-Uni     792         38            4.8           560         232
2    Etats-Unis     912         31            3.4           700         212
3     Allemagne     578         29            5.0           409         169
4        Italie     400         21            5.3           283         117
5       Espagne     255         21            8.2           189          66
6      Pays-Bas     144         15           10.4           118          26
7         Suède     151         11            7.3           113          38
9      Danemark     157          9            5.7           127          30
10    Australie     126          9            7.1            92          34
11     Belgique      90          7            7.8            73          17

    topfemalebuyers  topmalebuyers  femalebuyersratio  topfemalebuyersratio  \
0                33             20               68.0                  62.3
1                30              8               70.7                  78.9
2                21             10               76.8                  67.7
3                21              8               70.8                  72.4
4                14              7               70.8                  66.7
5                18              3               74.1                  85.7
6                10              5               81.9                  66.7
7                 7              4               74.8                  63.6
9                 9              0               80.9                 100.0
10                8              1               73.0                  88.9
11                7              0               81.1                 100.0

    ...  meanproductsliked  topmeanproductsbought  topmeanproductswished  \
0   ...               20.2                   28.1                   77.2
1   ...               29.5                   22.4                  161.2
2   ...               32.8                   27.9                  119.4
3   ...               41.1                   17.8                  175.7
4   ...               35.5                   24.7                  208.4
5   ...               65.0                   26.6                  222.5
6   ...               42.7                   19.7                   72.3
7   ...               67.9                   21.3                  169.3
9   ...              168.2                   15.7                  228.8
10  ...               61.0                   20.4                   51.6
11  ...               21.3                   80.3                  337.0

    topmeanproductsliked  meanofflinedays  topmeanofflinedays  meanfollowers  \
0                  120.9            321.8                75.0            4.8
1                  193.7            298.3                68.2            5.4
2                  224.1            359.3                73.0            4.9
3                  367.2            296.6                39.3            5.1
4                  103.4            247.9                40.9            6.4
5                  427.8            271.1                39.4            7.0
6                  166.5            191.6                14.3            6.3
7                  423.5            189.1                86.0            7.4
9                  388.8            156.0                19.3            5.6
10                 423.6            273.7               102.4            6.3
11                  18.3            220.9                16.0            5.5

    meanfollowing  topmeanfollowers  topmeanfollowing
0             8.8              10.1              11.0
1             8.8              11.1              12.2
2             9.7              11.7              27.9
3             8.6              11.2              11.3
4            11.6              14.3              15.4
5             9.5              17.6              11.6
6             9.0              17.7              10.5
7             9.1              20.2               9.5
9             8.6              11.7               9.7
10            8.9              11.6              10.6
11            8.5               8.7               8.4

[11 rows x 32 columns]

In [14]:
# Assuming '' is the common key, merge both DataFrames
unified_df = pd.merge(ds1_df, ds2_df, on='country')

# Save the combined DataFrame to a new CSV file
combined_csv_file = 'combined_data.csv'
unified_df.to_csv(combined_csv_file, index=False)

print(f"Combined data saved to {combined_csv_file}")

Combined data saved to combined_data.csv

In [15]:
print(unified_df.head())

        identifierHash  type     country language  socialNbFollowers  \
0 -7279641312655250028  user  Etats-Unis       en                  3
1 -1456013578740053406  user   Allemagne       de                  3
2  9006282053848196165  user       Suède       en                  3
3 -7154634866120535654  user     Turquie       en                  3
4  2858299215060733023  user      France       en                  3

   socialNbFollows  socialProductsLiked  productsListed  productsSold  \
0                8                    0               0             0
1                8                    0               0             0
2                8                    0               0             0
3                8                    0               0             0
4                8                    0               0             0

   productsPassRate  ...  meanproductsliked  topmeanproductsbought  \
0               0.0  ...               32.8                   27.9
1               0.0  ...               41.1                   17.8
2               0.0  ...               67.9                   21.3
3               0.0  ...                4.7                    NaN
4               0.0  ...               20.2                   28.1

  topmeanproductswished  topmeanproductsliked meanofflinedays  \
0                 119.4                 224.1           359.3
1                 175.7                 367.2           296.6
2                 169.3                 423.5           189.1
3                   NaN                   NaN           423.0
4                  77.2                 120.9           321.8

   topmeanofflinedays  meanfollowers  meanfollowing  topmeanfollowers  \
0                73.0            4.9            9.7              11.7
1                39.3            5.1            8.6              11.2
2                86.0            7.4            9.1              20.2
3                 NaN            3.7            7.7               NaN
4                75.0            4.8            8.8              10.1

   topmeanfollowing
0              27.9
1              11.3
2               9.5
3               NaN
4              11.0

[5 rows x 55 columns]

In [16]:
print(unified_df.tail())

            identifierHash  type     country language  socialNbFollowers  \
96993 -5212100190867739388  user  Etats-Unis       en                  3
96994 -5324380437900495747  user  Etats-Unis       fr                  3
96995 -5607668753771114442  user      France       fr                  3
96996   350630276238833248  user    Belgique       en                  3
96997  2006580738726207028  user      Italie       it                  3

       socialNbFollows  socialProductsLiked  productsListed  productsSold  \
96993                8                    0               0             0
96994                8                    0               0             0
96995                8                    0               0             0
96996                8                    0               0             0
96997                8                    0               0             0

       productsPassRate  ...  meanproductsliked  topmeanproductsbought  \
96993               0.0  ...               32.8                   27.9
96994               0.0  ...               32.8                   27.9
96995               0.0  ...               20.2                   28.1
96996               0.0  ...               21.3                   80.3
96997               0.0  ...               35.5                   24.7

      topmeanproductswished  topmeanproductsliked meanofflinedays  \
96993                 119.4                 224.1           359.3
96994                 119.4                 224.1           359.3
96995                  77.2                 120.9           321.8
96996                 337.0                  18.3           220.9
96997                 208.4                 103.4           247.9

       topmeanofflinedays  meanfollowers  meanfollowing  topmeanfollowers  \
96993                73.0            4.9            9.7              11.7
96994                73.0            4.9            9.7              11.7
96995                75.0            4.8            8.8              10.1
96996                16.0            5.5            8.5               8.7
96997                40.9            6.4           11.6              14.3

       topmeanfollowing
96993              27.9
96994              27.9
96995              11.0
96996               8.4
96997              15.4

[5 rows x 55 columns]

In [17]:
unified_df.shape

(96998, 55)